<h1>Hola Extranger</h1>
<h2>You are amazing</h2>
<h3>lalalalalalalalala</h3>
<h4>YAY! YAY! YAY!</h4>
<h5>booooo</h5>
<p>LOL</p>
<p>Now some embedded ruby</p>
<p>2 + 3 = </p><%= 2 + 3 %><br><br><br>
<hr>
<h1>JSON posts</h1><hr>

<% @posts .each do |post| %>
  <h2><%= post['title'] %></h2>
  <p><%= post['body'] %></p>
    <hr>
<% end%>
